#aboutmeContent {
    position: absolute; 
    background: rgba(244, 248, 249, 0.5);
    margin-top: 10;
} 

#aboutmeContent{
    position: relative;
    font-family:'Courier New', Courier, monospace;
    color:rgb(0, 0, 0);  
    filter: drop-shadow(0 0 0.55rem black);
    font-weight: 700;
    font-size: 1.1vw;
    text-align: center; 
    opacity: 1;
}

    