.pic { 
    margin-top: 1vw; 
    max-width: 100vw;
    width: 100vw; 
    position: relative;
}

#aboutmeFI {
    margin-top: -50vw;
    position: relative;
    filter: drop-shadow(0 0 0.55rem rgb(158, 145, 148));
}

#aboutmeContent {
    position: absolute; 
    background: rgba(141, 185, 202, 0.5);
    margin-top: 10vw;
} 

#aboutmeContent{
    position: relative;
    font-family:'Courier New', Courier, monospace;
    color:rgb(215, 210, 211);  
    filter: drop-shadow(0 0 0.55rem black);
    font-weight: 700;
    font-size: 1.1vw;
    text-align: center; 
    opacity: 1;
}
 