#navbar {
    display: flex;
    align-items: center;
    /*color: white; */
    font-family: Helvetica;
    font-weight: 300; 
    font-size: 1vw;
    margin-left: 73vw;     
    position: relative;
}

.navbarItem {
    padding: 1vw 1vw;
    cursor: pointer;
    vertical-align: middle;
} 

.navbarItem:hover{
    color: purple;
    font-weight: 300; 
}