div#root {
    height: 100vh;
  }
  
body {
    /* background: rgb(239, 234, 234);
    /*background: rgb(134, 178, 220);
    background: linear-gradient(
        140deg,
        rgb(134, 178, 220) 0%,
        rgb(214, 129, 174) 100%
    );*/
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}