#avatar{
    position: relative;
    width: 15vw;
    height: 15vw;
    margin-left: auto;
    margin-right: auto;
}

.socialIcons{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    bottom: -10vw;
}

.icon {
    width: 2.5vw;
    height: 2.5vw;
}