#avatar{
    position: relative;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.socialIcons{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 30%;
    width: 50px;
    bottom: 20;
}

.icon{
    width: 30px;
    height: 30px;
}